h1{
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 55px;
}
h2{
    font-family: Verdana, Geneva, sans-serif; 
}
h3{
    font-family: Verdana, Geneva, sans-serif; 
}
h{
    font-family: Verdana, Geneva, sans-serif; 
}
p{
    font-family: Verdana, Geneva, sans-serif; 
}
ul{
    font-family: Verdana, Geneva, sans-serif; 
}
